<div class="content_observacion_integrador">
        <div class="content_box_comentario">
            <h4>Comentarios:</h4>
            <p class="recargarcomentario" id="recargarcomentario">Recargar comentarios</p>
            <br />
            <div class="content_control_observacion_integrador">
                <input class="form-control campo_1" type="text" name="desc_obser_integrador" id="desc_obser_integrador"
                placeholder="Comentario...">
                <img id="img_send_obs" src="/resource/send-message.png" alt="promoAladdin">
                <div id="mini_spinner_any" class="mini_spinner_any"></div>
            </div>
            <br />
            <div class="GetDataOberservacion">
                <div id="mini_spinner_observacion_integrador" class="mini-spinner-observacion-integrador"></div>
                <div id="GetDataOberservacion"></div>
            </div>
        </div>
    </div>