.inicio {
    width: 100%;
}

.inicio>h2 {
    padding: 20px 0;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(70, 131, 180, 0.075);
    border-radius: 20px 20px 0 0;
}

.grid-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    background-color: rgba(70, 131, 180, 0.075);
    border-radius: 0px 0px 20px 20px;
    padding: 20px 0;
}

.card_integrador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 320px;
    background-color: #1F253A;
    border-radius: 20px;
    overflow: hidden;
}

.content_img_card_integrador {
    position: relative;
}

.content_img_card_integrador img {
    display: block;
    width: 100%;
    height: auto;
}

.notifiacion_resultado_partido {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding: 6px 10px;
}

.content_text_card_integrador {
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    text-align: center;
}

.content_btn_a {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.btn_a_1,
.btn_a_2 {
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 10px;
    background: #2C16B0;
    color: white;
    font-weight: 600;
    transition: all 0.4s ease;
}

.btn_a_1:hover,
.btn_a_2:hover {
    background: #6622F8;
}

.content_observacion_integrador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    position: relative;
    z-index: 1;
    font-size: 16px;
    background-color: rgba(70, 131, 180, 0.075);
    border-radius: 20px;
    padding: 20px 0;
}

.content_box_comentario {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 800px;
}

.recargarcomentario {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #747474;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.4s ease;
}

.recargarcomentario:hover {
    color: #fff;
}

@media(max-width:1280px) {
    .content_box_comentario {
        padding: 20px;
        width: 100%;
    }

    .recargarcomentario {
        right: 25px;
    }
}

@media (max-width:768px) {
    .content_box_comentario {
        width: 100%;
    }

    .grid-cards {
        justify-content: center;
        align-items: center;
    }
}