<div class="inicio">
    <h2>Dinámicas</h2>
    <div class="grid-cards">
        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a target="_blank" href="/dinamicas/promocion-halloween-misterioso-mp/halloween_misterioso_mp.html">
                    <img src="/resource/PROMO_HALLOWEEN_MISTERIOSO.png" alt="promo_aladdin">
                </a>
            </div>
            <div class="content_text_card_integrador">
                <h3>Halloween Misterioso MP</h3>
                <p>Promoción Halloween Misterioso, vívela en el mes de octubre.</p>
                <div class="content_btn_a">
                    <a target="_blank" class="btn_a_2"
                        href="https://docs.google.com/spreadsheets/d/18HcQ3mW0B5x6onJyXnlZY_vOXuMFYSwXpRYTSFqd0tA/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a target="_blank" class="btn_a_1"
                        href="/dinamicas/promocion-halloween-misterioso-mp/halloween_misterioso_mp.html">Ver
                        Dinámica</a>
                </div>
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a target="_blank" href="/dinamicas/promocion-halloween-misterioso/halloween_misterioso.html">
                    <img src="/resource/PROMO_HALLOWEEN_MISTERIOSO_2.png" alt="promo_aladdin">
                </a>
            </div>
            <div class="content_text_card_integrador">
                <h3>Halloween Misterioso AL</h3>
                <p>Promoción Halloween Misterioso, vívela en el mes de octubre.</p>
                <div class="content_btn_a">
                    <a target="_blank" class="btn_a_2"
                        href="https://docs.google.com/spreadsheets/d/18HcQ3mW0B5x6onJyXnlZY_vOXuMFYSwXpRYTSFqd0tA/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a target="_blank" class="btn_a_1"
                        href="/dinamicas/promocion-halloween-misterioso/halloween_misterioso.html">Ver Dinámica</a>
                </div>
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a target="_blank" href="/dinamicas/promocion-9-portales/portales.html">
                    <img src="/resource/PROMO_LOS_NUEVE_PORTALES.png" alt="promo_aladdin">
                </a>
            </div>
            <div class="content_text_card_integrador">
                <h3>Los Nueve Portales</h3>
                <p>Promoción Los Nueve Portales, disponible el mes de Octubre.</p>
                <div class="content_btn_a">
                    <a class="btn_a_2" target="_blank"
                        href="https://docs.google.com/spreadsheets/d/1NSmns7kucc5K3Mu3wNKO_BJfBjKypMk2GEyNkdu-HPk/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" target="_blank" href="/dinamicas/promocion-9-portales/portales.html">Ver
                        Dinámica</a>
                </div>
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a target="_blank" href="/dinamicas/promocion-puntos-festivos/puntos-festivos.html">
                    <img src="/resource/PROMO_PUNTOS_FESTIVOS.png" alt="promo_aladdin">
                </a>
            </div>
            <div class="content_text_card_integrador">
                <h3>Puntos Festivos</h3>
                <p>Los Mejores puntos que quieres conocer.</p>
                <div class="content_btn_a">
                    <a class="btn_a_2" target="_blank"
                        href="https://docs.google.com/spreadsheets/d/1bNPthGAmue0PTHESzFrx0K_SCclSRrG_0gtJq83oMa0/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a target="_blank" class="btn_a_1"
                        href="/dinamicas/promocion-puntos-festivos/puntos-festivos.html">Ver Dinámica</a>
                </div>
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a target="_blank" href="/dinamicas/promocion-futbolera-VEN-COL/partido_v_c.html">
                    <img src="/resource/Venezuela_Colombia.png" alt="promo_aladdin">
                </a>
                <div class="notifiacion_resultado_partido">
                    <a target="_blank" href="/dinamicas/view-resultado-partido/resultado-partido.html">Resultado</a>
                </div>
            </div>
            <div class="content_text_card_integrador">
                <h3>Venezuela vs Colombia</h3>
                <p>Vive la pasión por el futbol con Aladdin.</p>
                <div class="content_btn_a">
                    <a class="btn_a_2" target="_blank"
                        href="https://docs.google.com/spreadsheets/d/1U6Z_X-6gbg8ebocBb6w3asg7wvkKuGdI_rJjFABTg2c/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" target="_blank"
                        href="/dinamicas/promocion-futbolera-VEN-COL/partido_v_c.html">Ver Dinámica</a>
                </div>
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a target="_blank" href="/dinamicas/promocion-futbolera-COL-BOL/partido_c_b.html">
                    <img src="/resource/Colombia_bolivia.png" alt="promo_aladdin">
                </a>
                <div class="notifiacion_resultado_partido">
                    <a target="_blank" href="/dinamicas/view-resultado-partido/resultado-partido.html">Resultado</a>
                </div>
            </div>
            <div class="content_text_card_integrador">
                <h3>Colombia vs Bolivia</h3>
                <p>Vive la pasión por el futbol con Aladdin.</p>
                <div class="content_btn_a">
                    <a class="btn_a_2" target="_blank"
                        href="https://docs.google.com/spreadsheets/d/1U6Z_X-6gbg8ebocBb6w3asg7wvkKuGdI_rJjFABTg2c/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" target="_blank"
                        href="/dinamicas/promocion-futbolera-COL-BOL/partido_c_b.html">Ver Dinámica</a>
                </div>
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a target="_blank" href="/dinamicas/promocion-cupido/cupido.html">
                    <img src="/resource/PROMO_FLECHAZO_CUPIDO.png" alt="promo_aladdin">
                </a>
            </div>
            <div class="content_text_card_integrador">
                <h3>Flechazo de Cupido</h3>
                <p>Promoción El Flechazo de Cupido, disponible el mes de Septiembre.</p>
                <div class="content_btn_a">
                    <a class="btn_a_2" target="_blank"
                        href="https://docs.google.com/spreadsheets/d/12mvaIfoauuC-M3d3MIX_YRs7XbdsCaSx02eVMxMi2Tw/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" target="_blank" href="/dinamicas/promocion-cupido/cupido.html">Ver Dinámica</a>
                </div>
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a target="_blank" href="/dinamicas/promocion-perfect-match/match.html">
                    <img src="/resource/PROMO_MATCH_PERFECTO.png" alt="promo_aladdin">
                </a>
            </div>
            <div class="content_text_card_integrador">
                <h3>Match Perfecto</h3>
                <p>Promoción El Match Perfecto, disponible el mes de Septiembre.</p>
                <div class="content_btn_a">
                    <a class="btn_a_2" target="_blank"
                        href="https://docs.google.com/spreadsheets/d/1x4O4uFXQ4i2vqT8jVHyL57gKHv5C-JyufWA8WNJVIFw/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" target="_blank" href="/dinamicas/promocion-perfect-match/match.html">Ver
                        Dinámica</a>
                </div>
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a target="_blank" href="/dinamicas/promocion-BlackJack/blackjack.html">
                    <img src="/resource/PROMO-BLACK-JACK-EXPRESS.png" alt="promo_aladdin">
                </a>
            </div>
            <div class="content_text_card_integrador">
                <h3>BlackJack Express</h3>
                <p>Promoción BlackJack Express, disponible el mes de Agosto.</p>
                <div class="content_btn_a">
                    <a class="btn_a_2" target="_blank"
                        href="https://docs.google.com/spreadsheets/d/1E8Mf024QTs4Vu9lWS7-a-x11gi4JRDle12A7mtbybW0/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" target="_blank" href="/dinamicas/promocion-BlackJack/blackjack.html">Ver
                        Dinámica</a>
                </div>
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a target="_blank" href="/dinamicas/promocion-Escaleras/tren.html">
                    <img src="/resource/PROMO-TREN-PREMIOS.png" alt="promo_aladdin">
                </a>
            </div>
            <div class="content_text_card_integrador">
                <h3>Tren de Premios</h3>
                <p>Promoción Tren de Premios, disponible el mes de Agosto.</p>
                <div class="content_btn_a">
                    <a class="btn_a_2" target="_blank"
                        href="https://docs.google.com/spreadsheets/d/1XRJ_i2BmgvcJ9zPH5Rj0JaDagKUCDI6-QDXEUFckl7I/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" target="_blank" href="/dinamicas/promocion-Escaleras/tren.html">Ver Dinámica</a>
                </div>
            </div>
        </div>

        <div class="card_integrador">
            <div class="content_img_card_integrador">
                <a target="_blank" href="https://lampara-suerte.netlify.app/">
                    <img src="/resource/PROMO_LAMAPARA_SUERTE.png" alt="promo_aladdin">
                </a>
            </div>
            <div class="content_text_card_integrador">
                <h3>Lampara de la Suerte</h3>
                <p>Promoción Lampara de la Suerte, disponible el mes de Julio.</p>
                <div class="content_btn_a">
                    <a class="btn_a_2" target="_blank"
                        href="https://docs.google.com/spreadsheets/d/1raIrBpRSiAt22ED14lOXBlmNNK0zA0g09b7WW9HTYtg/edit?gid=0#gid=0">Ver
                        Información</a>
                    <a class="btn_a_1" target="_blank" href="https://lampara-suerte.netlify.app/">Ver Dinámica</a>
                </div>
            </div>
        </div>

    </div>
    <br />
    <div class="content_observacion_integrador">
        <div class="content_box_comentario">
            <h4>Comentarios:</h4>
            <p class="recargarcomentario" id="recargarcomentario">Recargar comentarios</p>
            <br />
            <div class="content_control_observacion_integrador">
                <input class="form-control campo_1" type="text" name="desc_obser_integrador" id="desc_obser_integrador"
                placeholder="Comentario...">
                <input class="form-control campo_2" id="rol_desc_obser" type="text" placeholder="Soy...">
                <img id="img_send_obs" src="/resource/send-message.png" alt="promoAladdin">
                <div id="mini_spinner_any" class="mini_spinner_any"></div>
            </div>
            <br />
            <div class="GetDataOberservacion">
                <div id="mini_spinner_observacion_integrador" class="mini-spinner-observacion-integrador"></div>
                <div id="GetDataOberservacion"></div>
            </div>
        </div>
    </div>
</div>