<section class="content_main_grand_aladdin">
    <div class="content_info">
        <div class="card_contenedor_final">
            <div class="content_title_final">
                <p>Cali</p>
            </div>
            <div class="content_info_final">
                <div class="content_tabla_info_final">
                    <h3>Finalistas</h3>
                    <div class="content_actions_grand">
                        <div class="actions_grand">
                            <a target="_blank"
                                href="https://docs.google.com/spreadsheets/d/10f38yNuAOM9Cl--p9QmhWgcw9Iot5vsb9AEaqbkD0Q4/edit?gid=0#gid=0">Excel
                                <img src="/resource/excel_logo.png" alt="integradorAladdin"></a>
                        </div>
                        <div style="width: 1px;height: 20px;background-color: white;"></div>
                        <div class="actions_grand">
                            <a target="_blank"
                                href="/dinamicas/promocion-ruleta-six-casinos/components/casino-cali/cali.html">Dinámica</a>
                        </div>
                    </div>
                    <div id="loader_final_grand" class="loader_final_grand">
                        <div class="spinner_final_grand"></div>
                    </div>
                    <div class="content_table_info" id="content_all_result_finalista_cali"></div>
                </div>
                <div class="content_tabla_info_final">
                    <h3>Semis-Finalistas</h3>
                    <div class="content_actions_grand">
                        <div class="actions_grand">
                            <a target="_blank"
                                href="https://docs.google.com/spreadsheets/d/1kO8A0zwAz9MoDPpuMttUXJghUEeNyFHHbdcW_pZoFGE/edit?gid=0#gid=0">Excel
                                <img src="/resource/excel_logo.png" alt="integradorAladdin"></a>
                        </div>
                        <div style="width: 1px;height: 20px;background-color: white;"></div>
                        <div class="actions_grand">
                            <a target="_blank"
                                href="/dinamicas/promocion-ruleta-six-casinos/components/casino-cali/cali.html">Dinámica</a>
                        </div>
                    </div>
                    <div id="loader_final_grand_semis" class="loader_final_grand">
                        <div class="spinner_final_grand"></div>
                    </div>
                    <div class="content_table_info" id="content_all_result_semis_cali"></div>
                </div>
            </div>
        </div>
        <div class="card_contenedor_final">
            <div class="content_title_final">
                <p>Pereira</p>
            </div>
            <div class="content_info_final">
                <div class="content_tabla_info_final">
                    <h3>Finalistas</h3>
                    <div class="content_actions_grand">
                        <div class="actions_grand">
                            <a target="_blank"
                                href="https://docs.google.com/spreadsheets/d/1MTYI_HoPgKPmpWG3FjgB1WMQv6DKeGEPsfyRR9A-6Fc/edit?gid=0#gid=0">Excel
                                <img src="/resource/excel_logo.png" alt="integradorAladdin"></a>
                        </div>
                        <div style="width: 1px;height: 20px;background-color: white;"></div>
                        <div class="actions_grand">
                            <a target="_blank"
                                href="/dinamicas/promocion-ruleta-six-casinos/components/casino-pereira/pereira.html">Dinámica</a>
                        </div>
                    </div>
                    <div id="loader_final_grand_pereira" class="loader_final_grand">
                        <div class="spinner_final_grand"></div>
                    </div>
                    <div class="content_table_info" id="content_all_result_finalista_pereira_1"></div>
                </div>
            </div>
        </div>
        <div class="card_contenedor_final">
            <div class="content_title_final">
                <p>Buga</p>
            </div>
            <div class="content_info_final">
                <div class="content_tabla_info_final">
                    <h3>Finalistas</h3>
                    <div class="content_actions_grand">
                        <div class="actions_grand">
                            <a target="_blank"
                                href="https://docs.google.com/spreadsheets/d/1h35ajM0hekbIhJhuvL_-nBwcoPLjXQxYTuWPacb7Ldk/edit?gid=0#gid=0">Excel
                                <img src="/resource/excel_logo.png" alt="integradorAladdin"></a>
                        </div>
                        <div style="width: 1px;height: 20px;background-color: white;"></div>
                        <div class="actions_grand">
                            <a target="_blank"
                                href="/dinamicas/promocion-ruleta-six-casinos/components/casino-buga/buga.html">Dinámica</a>
                        </div>
                    </div>
                    <div id="loader_final_grand_buga" class="loader_final_grand">
                        <div class="spinner_final_grand"></div>
                    </div>
                    <div class="content_table_info" id="content_all_result_finalista_buga"></div>
                </div>
            </div>
        </div>

        <div class="card_contenedor_final">
            <div class="content_title_final">
                <p>Túlua</p>
            </div>
            <div class="content_info_final">
                <div class="content_tabla_info_final">
                    <h3>Finalistas</h3>
                    <div class="content_actions_grand">
                        <div class="actions_grand">
                            <a target="_blank"
                                href="https://docs.google.com/spreadsheets/d/1-fFFTUY4FqHBFeVt4h5QUgLzgWd9JZUqND9MNLFYmvU/edit?gid=0#gid=0">Excel
                                <img src="/resource/excel_logo.png" alt="integradorAladdin"></a>
                        </div>
                        <div style="width: 1px;height: 20px;background-color: white;"></div>
                        <div class="actions_grand">
                            <a target="_blank"
                                href="/dinamicas/promocion-ruleta-six-casinos/components/casino-tulua/tulua.html">Dinámica</a>
                        </div>
                    </div>
                    <div id="loader_final_grand_tulua" class="loader_final_grand">
                        <div class="spinner_final_grand"></div>
                    </div>
                    <div class="content_table_info" id="content_all_result_finalista_tulua"></div>
                </div>
            </div>
        </div>
    </div>
</section>