<div class="background-promo content_principal">
    <div class="content-logos">
        <img src="/dinamicas/promocion-ruleta-six-casinos/resources/Aladdin.favicon_rojo.png" alt="promoAladdin">
        <h1>Grand Aladdin</h1>
    </div>
    <div class="contenedor-inicial">
        <h3 class="text_title">Casinos disponibles</h3>
        <br />

        <div class="content_card_casinos_finalistas">
            <div class="card_finalistas">
                <div class="content_part_up">
                    <img src="/resource/Semana-Santa_Planes.webp" alt="integradoAladdin">
                </div>
                <div class="content_part_down">
                    <h4>Finalistas Cali</h4>
                    <p>Acá encontraras todo lo relacionado a los casinos de Cali.</p>
                    <a target="_blank" href="/dinamicas/promocion-ruleta-six-casinos/components/casino-cali/cali.html">Saber mas</a>
                </div>
            </div>
            <div class="card_finalistas">
                <div class="content_part_up">
                    <img src="/resource/Buga-Turismo-en-Valle-del-Cauca.webp" alt="integradoAladdin">
                </div>
                <div class="content_part_down">
                    <h4>Finalistas Buga</h4>
                    <p>Acá encontraras todo lo relacionado a los casinos de Buga.</p>
                    <a target="_blank" href="/dinamicas/promocion-ruleta-six-casinos/components/casino-buga/buga.html">Saber mas</a>
                </div>
            </div>
            <div class="card_finalistas">
                <div class="content_part_up">
                   <img src="/resource/OW7FCTZUBVB5PA5INDWZ5N5HD4.jpg" alt="integradoAladdin">
                </div>
                <div class="content_part_down">
                    <h4>Finalistas Tuluá</h4>
                    <p>Acá encontraras todo lo relacionado a los casinos de Tuluá.</p>
                    <a target="_blank" href="/dinamicas/promocion-ruleta-six-casinos/components/casino-tulua/tulua.html">Saber mas</a>
                </div>
            </div>
            <div class="card_finalistas">
                <div class="content_part_up">
                    <img src="/resource/turismo-en-pereira-1-1.jpg" alt="integradoAladdin">
                </div>
                <div class="content_part_down">
                    <h4>Finalistas Pereira</h4>
                    <p>Acá encontraras todo lo relacionado a los casinos de Pereira.</p>
                    <a target="_blank" href="/dinamicas/promocion-ruleta-six-casinos/components/casino-pereira/pereira.html">Saber mas</a>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>